In [1]:
import psycopg2

In [9]:
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="MY_defence_2024",
    host="localhost",
    port="5432"
)

cursor = conn.cursor()

In [21]:
sql = """
CREATE TABLE transaction_tbl_test (
    transacrion_id int,
    customer_id int,
    product_id int,
    transaction_date varchar,
    online_order bool,
    order_status varchar
    ); """

cursor.execute(sql)
conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [28]:
conn.rollback()

In [29]:
sql = """
CREATE TABLE transaction_tbl_ok (
    transacrion_id int PRIMARY KEY,
    customer_id int,
    product_id int,
    transaction_date varchar,
    online_order bool,
    order_status varchar
    ); """

cursor.execute(sql)
conn.commit()